*{
  margin: 0px;
  padding: 0;
}
.navegacion{
    
}
.menu {
    list-style: none;
    display: flex;
    background-color: green;

    
}
.item{
    padding: 1em;
    color: white;
}
.item:hover{
    background: rgba(4, 94, 4, 0.521);
}