*{
  margin: 0px;
  padding: 0;
}
.navegacion{
    background-color: green;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.menu {
    list-style: none;
    display: flex;
    
    grid-column: 3 / 4;    
}
.item{
    padding: 1em;
    color: white;
}
.item:hover{
    background: rgba(4, 94, 4, 0.521);
}