*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    --colorPrimarioNav: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.navegacion{  
    background: var(--colorPrimarioNav);
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 1px;
}
.menu {
    height: 4em;
    list-style: none;
    display: flex;
    grid-column: 6 / 7; 
    grid-row: 1/ 2;
    align-items: center; 
    padding-right: 1em;  
}
.item{
    padding: 1rem;
    color: white;
    font-size: 14px;
}
.item:hover{
    background: rgba(194, 194, 194, 0.219);
    border-radius: 1em;
}
.imagen{
    padding-left: 1em;
    height: 3em;
    grid-column: 1 / 2; 
    grid-row: 1/ 2;
    display: flex;
    align-self: center;  
}

@media(max-width: 800px){
    .menu{
        grid-column: 6 /7;
        grid-row: 1/ 2;
    }
}

<<<<<<< HEAD
@media(max-width: 420px){
=======
@media(max-width: 400px){
>>>>>>> 6e926546480bef45c96bad9adda32a3f407aa1f7
    .item{
        display: none;
    }

}